<footer class="page__footer">
  <aside class="aside_footer_1">
    <a
      class="links_f"
      href="https://www.create-store.com/es/?esl-k=google-ads|ng|c481560546959|me|kcreate|p|t|dc|a112998991425|g11678097097&utm_term=create&utm_campaign=RB-Marca-Create-ES&utm_source=adwords&utm_medium=ppc&hsa_acc=1731306791&hsa_cam=11678097097&hsa_grp=112998991425&hsa_ad=481560546959&hsa_src=g&hsa_tgt=kwd-92459890&hsa_kw=create&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQjwmN2iBhCrARIsAG_G2i785zvj0-WjNC_dtgJ5Nlh95rv_WullMsm-i97vTXJv3luvD-FGfS4aAremEALw_wcB"
      target="_blank"
      >Link1</a
    >
    <a
      class="links_f"
      href="https://www.create-store.com/es/?esl-k=google-ads|ng|c481560546959|me|kcreate|p|t|dc|a112998991425|g11678097097&utm_term=create&utm_campaign=RB-Marca-Create-ES&utm_source=adwords&utm_medium=ppc&hsa_acc=1731306791&hsa_cam=11678097097&hsa_grp=112998991425&hsa_ad=481560546959&hsa_src=g&hsa_tgt=kwd-92459890&hsa_kw=create&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQjwmN2iBhCrARIsAG_G2i785zvj0-WjNC_dtgJ5Nlh95rv_WullMsm-i97vTXJv3luvD-FGfS4aAremEALw_wcB"
      target="_blank"
      >Link2</a
    >
    <a
      class="links_f"
      href="https://www.create-store.com/es/?esl-k=google-ads|ng|c481560546959|me|kcreate|p|t|dc|a112998991425|g11678097097&utm_term=create&utm_campaign=RB-Marca-Create-ES&utm_source=adwords&utm_medium=ppc&hsa_acc=1731306791&hsa_cam=11678097097&hsa_grp=112998991425&hsa_ad=481560546959&hsa_src=g&hsa_tgt=kwd-92459890&hsa_kw=create&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQjwmN2iBhCrARIsAG_G2i785zvj0-WjNC_dtgJ5Nlh95rv_WullMsm-i97vTXJv3luvD-FGfS4aAremEALw_wcB"
      target="_blank"
      >Link3</a
    >
    <a
      class="links_f"
      href="https://www.create-store.com/es/?esl-k=google-ads|ng|c481560546959|me|kcreate|p|t|dc|a112998991425|g11678097097&utm_term=create&utm_campaign=RB-Marca-Create-ES&utm_source=adwords&utm_medium=ppc&hsa_acc=1731306791&hsa_cam=11678097097&hsa_grp=112998991425&hsa_ad=481560546959&hsa_src=g&hsa_tgt=kwd-92459890&hsa_kw=create&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQjwmN2iBhCrARIsAG_G2i785zvj0-WjNC_dtgJ5Nlh95rv_WullMsm-i97vTXJv3luvD-FGfS4aAremEALw_wcB"
      target="_blank"
      >Link4</a
    >
  </aside>
  <aside class="aside_footer_2">
    <a
      class="links_f"
      href="https://www.create-store.com/es/?esl-k=google-ads|ng|c481560546959|me|kcreate|p|t|dc|a112998991425|g11678097097&utm_term=create&utm_campaign=RB-Marca-Create-ES&utm_source=adwords&utm_medium=ppc&hsa_acc=1731306791&hsa_cam=11678097097&hsa_grp=112998991425&hsa_ad=481560546959&hsa_src=g&hsa_tgt=kwd-92459890&hsa_kw=create&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQjwmN2iBhCrARIsAG_G2i785zvj0-WjNC_dtgJ5Nlh95rv_WullMsm-i97vTXJv3luvD-FGfS4aAremEALw_wcB"
      target="_blank"
      >FB</a
    >
    <a
      class="links_f"
      href="https://www.create-store.com/es/?esl-k=google-ads|ng|c481560546959|me|kcreate|p|t|dc|a112998991425|g11678097097&utm_term=create&utm_campaign=RB-Marca-Create-ES&utm_source=adwords&utm_medium=ppc&hsa_acc=1731306791&hsa_cam=11678097097&hsa_grp=112998991425&hsa_ad=481560546959&hsa_src=g&hsa_tgt=kwd-92459890&hsa_kw=create&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQjwmN2iBhCrARIsAG_G2i785zvj0-WjNC_dtgJ5Nlh95rv_WullMsm-i97vTXJv3luvD-FGfS4aAremEALw_wcB"
      target="_blank"
      >TW</a
    >
    <a
      class="links_f"
      href="https://www.create-store.com/es/?esl-k=google-ads|ng|c481560546959|me|kcreate|p|t|dc|a112998991425|g11678097097&utm_term=create&utm_campaign=RB-Marca-Create-ES&utm_source=adwords&utm_medium=ppc&hsa_acc=1731306791&hsa_cam=11678097097&hsa_grp=112998991425&hsa_ad=481560546959&hsa_src=g&hsa_tgt=kwd-92459890&hsa_kw=create&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQjwmN2iBhCrARIsAG_G2i785zvj0-WjNC_dtgJ5Nlh95rv_WullMsm-i97vTXJv3luvD-FGfS4aAremEALw_wcB"
      target="_blank"
      >G+</a
    >
  </aside>
</footer>
